.contact-main-banner-wrapper {
    width: 100%;
    height: 100%;
    /* background-image: url('../img/frontend/contact-us/banner-one.png'); */
    background-size: cover;
    background-repeat: no-repeat;
}

span1{
    color:#ff0000;
 }

img#contact-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

path#Polygon_2-2 {
    fill: #adadad !important;
} 

path#Polygon_1-2 {
    fill:#FFA500	 !important;
}

.blur {
    background-color: rgba(255,255,255,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    backdrop-filter: blur(20px);
}

.text-area {
    position: absolute;
    padding: 5% 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: unset;
}

.contact-main-section {
    padding-top: 15vh;
    padding-bottom: 1vh;
}

.contact-main-banner-wrapper {
    display: flex;
    position: relative;
    height: 70vh;
    justify-content: flex-end;
}

.contact-banner-text-wrapper {
    position: relative;
    width: 30%;
    height: 100%;
}

.contact-banner-text-wrapper h3 {
    font-size: 2rem;
    margin-bottom: 0;
}

.contact-banner-text-wrapper h4 {
    font-size: 1rem;
    font-weight: bold;
    color: #646363;
    margin-top: 10px;
    margin-bottom: 0;
}

.contact-banner-text-wrapper p {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.our-locations-wrapper {
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}

.contact-area {
    text-align: center;
    padding-top: 10px;
}

.contact-area h3 {
    font-size: 2rem;
}

.contact-area p {
    color:#f1663c;
    font-size: 0.8rem;
}

.contact-area-btns {
    cursor: pointer;
    display: flex;
}

.contact-area-btns:hover {
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
}

.contact-area-btns:active {
    transform: matrix(0.95, 0, 0, 0.95, 0, 0);
}

span.location-wrapper {
    display: block;
    width: 200px;
}


.submit-wrapper {
    display: flex;
    align-items: end;
}

.contact-form-row {
    display: flex;
}

.last-row-content-wrapper {
    display: flex;
    flex-direction: column;
}

.contact-submit {
    background: #2a48f1;
    color: #fff;
    padding: 10px 20px;
    border: 0;
}

:focus {
    outline: none;
}

.contact-form-row {
    display: flex;
    gap: 15px;
}

.input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    margin-top: 30px;
}

.contact-form-last-row {
    margin-top: 30px;
    
}

.contact-form input[type="text"] {
    border: 0;
    border-bottom: 1.5px solid #000;
}

.contact-form input[type="email"] {
    border: 0;
    border-bottom: 1.5px solid #000;
}


form.contact-form, .contact-txt {
    width: 60vw;
    margin-left: 5vw;
}



.inputline {
    display: none;
    background-color: rgb(0, 11, 98);
    width: 5%;
    transition: width 5s;
    height: 2px;
}

.contact-form input[type="text"]:focus {
    border-bottom: 0;
}

.contact-form input[type="text"]:focus ~ .inputline {
    display: block;
    width: 100%;
}

.last-row-content-wrapper p {
    margin: 0;
}

path#Polygon_2-2, path#Polygon_1-2 {
    fill: #eee;
}

.accept-row {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.g-recaptcha {
    margin-top: 15px;
    margin-bottom: 15px;
}

section#get-in-touch {
    height: max-content;
}

p#side-area-contact-office, p#mobile-contact-office {
    text-transform: capitalize;
}

p#contact-office {
    text-transform: uppercase;
}

#hotline-multiple-number-wrapper {
    display: none;
}

#hotline-hide-helper-desktop {
    display: block;
}

/*mobile-view*/
@media screen and (max-width: 767px) {

    #hotline-hide-helper-mobile {
        display: block;
    }

    section#get-in-touch {
        padding-top: 0;
    }

    div#hotline-multiple-number-wrapper-mobile h4 {
        font-size: 1rem;
        font-weight: bold;
    }

    form.contact-form, .contact-txt {
        width: 90vw;
    }
    .contact-form-row {
        flex-direction: column;
    }

    .contact-form-last-row {
        margin-bottom: 30px;
    }

    .contact-area-btns {
        width: 50px;
    }

    .our-locations-wrapper {
        gap: 0;
        margin-top: 0;
    }

    span.location-wrapper {
        width: 150px;
    }

    .contact-area h3 {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .contact-area {
        padding-top: 20px;
    }

    img#contact-banner, .contact-main-banner-wrapper {
        height: 200px;
    }

    .contact-main-section {
        display: block;
    }

    .mobile-contact-txt h3 {
        font-size: 1.5rem;
    }

    .mobile-contact-txt h4 {
        font-size: 1.2rem;
    }

    .mobile-contact-txt p {
        font-size: 0.9rem;
    }

    .mobile-contact-txt {
        padding: 15px;
        height: 475px;
    }

    div#hotline-multiple-number-wrapper-mobile {
        display: none;
    }

}




/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
    section.full-height-area.contact-main-section {
        height: unset;
    }

    form.contact-form {
        margin-bottom: 30px;
    }

    .text-area {
        justify-content: center;
    }

    .contact-banner-text-wrapper, img#contact-banner, .contact-main-banner-wrapper {
        height: 400px;
    }

    .contact-banner-text-wrapper {
        width: 40%;
    }

    .contact-banner-text-wrapper h3 {
        font-size: 1.5rem;
    }
}



/*large screen*/
@media screen and (min-width: 1400px) {
   
}
