/*footer*/
.footer-list {
    list-style: none;
    padding-left: 0;
}

.footer-list li span {
    margin-right: 25px;
}

.footer-list li {
    font-size: 0.9rem;
}

.contact-text {
    display: inline-flex;
    margin-right: 0 !important;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer-main {
    background-color: #bdbdbd;
}

.footer-main-container {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #000000;
}

.footer-main-container h3 {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.footer-main-container p {
    font-size: 0.9rem;
}

.footer-form {
    display: flex;
    background: #fff;
    border-radius: 25px;
    position: absolute;
}

.footer-form-input {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 0;
    padding-left: 15px;
}

.col-md-4.footer-main-text {
    padding-right: 30px;
}

input.footer-form-submit {
    background: #1882a8;
    position: relative;
    right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 25px;
    color: #fff;
    border: 0;
    padding: 5px 25px;
}

.footer-top-logo-area {
    background-color: #ECECEC;
}

ul.footer-list li {
    margin-bottom: 15px;
}

img#footer-logo {
    margin-left: -15px;
    
}

img#footer-logo2 {
    margin-left: -10px;
    padding-top: 20px;
    
}
.footer-list li a {
    text-decoration: none;
    color: black;
}


p#copyright {
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-size: 0.8rem;
    flex-shrink: 0;
    width: 100%;
    color: #000000;
}

@media screen and (max-width: 767px) {
    .row.footer-mobile-row {
        gap: 10px;
    }

    .footer-list li span {
        margin-right: 15px;
    }

    ul.footer-list li {
        margin-bottom: 5px;
    }

    .footer-main-container h3 {
        margin-bottom: 10px;
    }
    img#footer-logo {
        margin-left: 10px;
        margin-top: -10%;
        padding-top: 20px;
        inline-size: 250px;
    }
    
    img#footer-logo2 {
        margin-top: -7%;
        margin-left: -10px;
        padding-top: 20px;
        inline-size: 50px;
    }
    .footer-list {
        margin-left: 20px;
        list-style: none;
        padding-left: 0;
    }
    .footer-main h3 {
        margin-left: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer-list li span {
        margin-right: 10px;
    }

    #footer-logo {
        width: 100% !important;
    }

    .col-md-4.footer-main-text {
        padding-right: 0;
    }
}

span#powered {
    margin-left: 5%; /* Adjust the value as needed */
}
