/* Our Custom Services */
.box-services {
    padding: 40px 20px 20px;
    border-radius: 16px 0px 16px 16px;
    border-bottom: 1px solid #d4d4d4;
    background: #FFFFFF;
    margin-bottom: 30px;
    font-size: 16px;
    box-shadow: 0px 12px 56px 0px #0F52991F;
        
    /* z-index: 1; */
  }
  .box-services .icon {
    text-align: center;
    font-size: 25px;
    color: #F13647;
  }
  .box-services p {
    color: #000000;
    text-align: center;
    font-size: 14px;
  }
  h4.heading {
      margin-bottom: 20px;
      text-align:center;
      color:#000;
  }
  .heading:after {
      content: " ";
      display: block;
      width: 100px;
      height: 2px;
      margin: 20px auto 20px;
      /* background: #E45454; */
      border: dashed 1px #E1E1E1;
  }
  .list-group-item {
      position: relative;
      display: block;
      padding: 15px 15px;
      margin-bottom: -1px;
      background-color: transparent;
      color: rgb(76, 76, 76);
  }
  /* .box-services{
  position:relative;
  }
  .box-services:after{
  content: "";
  position: absolute;
  top: -1%;
  left: -1%;
  width: 102%;
  height: 102%;
  background: #e3e8eb none repeat scroll 0% 0% / cover;
  transform: skewY(3deg);
  z-index: -1;} */
  
/* Our Partners */
      
      /* Slider */ 
      .slick-slide {
        margin: 0px 10px 50px;
      }

      .slick-slide img {
        width: 100%;
      }

     
        