 .client-list {
    display: flex;
}

.client-logo-area {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    overflow: auto;
    height: 380px;
    
}

.client-logo-box {
    width: 150px;
    text-align: center;
    height: 125px;  
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    display: inline-block;
}

.client-logo-inner-box {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.filter-list {
    list-style: none;
}

.filter-list li {
    margin: 25px 0;
    font-family: 'Poppins', sans-serif;
}

.client-logo-row {
    display: flex;
}

.client-section {
    display: flex;
    flex-direction: column;
    padding: 100px !important;
    justify-content: center;
}

.filter-area {
    padding: 20px;
}

.client-logo-img {
    width: 80%;
}

.clients-wrapper {
    display: flex;
}

.clients-navtab  {
    border-bottom: 0;
    flex-direction: column;
}

.client-tab-pane {
    position: absolute;
    overflow: auto;
    height: 50vh;
    padding-top: 15px;
    padding-bottom: 50px;
}

.client-container {
    width: 100%;
    height: 100%;
}

.clients-navtab li {
    width: 100%;
    font-size: 1rem;
    color: #000;
}

.client-cat-btn {
    width: 100%;
    border: 0;
    text-align: left;
}

.client-page-height {
    height: 100vh;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-weight: bold;
}

.client-tab-pane::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.client-tab-pane::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.client-tab-pane::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(85, 85, 85, 0.1);
}

.client-container  {
    max-width: 100%;
}

.client-cat-btn {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #c0c0c0 !important;
    border-radius: 0 !important;
    color: #000 !important;
}

.client-cat-btn.active {
    border: 1px solid #1aa7ec !important;
    color: #1aa7ec !important;
}

/*mobile-view*/
@media screen and (max-width: 767px) {
    .mobile-tab-height {
        height: 440px;
    }

    .clients-wrapper {
        flex-direction: column;
    }

    .client-section {
        padding: 0 !important;
    }

    .clients-navtab li {
        width: max-content;
    }

    .clients-navtab {
        flex-direction: row;
    }

    .client-page-height {
        height: 100%;
        padding-top: 75px !important;
    }

    .client-topic-wrapper {
        transform: unset !important;
        margin-bottom: 15px;
    }

    .client-logo-box {
        width: 100px;
        height: 100px;
    }

    .client-nav-item {
        margin-right: 5px;
        margin-bottom: 5px !important;
    }
}

/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
    .client-section {
        padding: 15px !important;
    }

    .client-page-height {
        height: 100%;
        margin-top: 125px;
    }

    .client-topic-wrapper {
        margin-bottom: 0;
    }
}


