body {
    font-family: 'Montserrat', sans-serif !important;
}

.btn-tt {
    background-color: #000000 !important;
    border-radius: 8px;
    padding: 8px 20px;
    color: white;
    
}

.btn-tt-1 {
    background-color: #000000 !important;
    border-radius: 8px;
    padding: 8px 20px;
    color: white;
}

.header-scrolled {
    background-color: #333;
    /* Set the desired background color */
}

.text-blaack {
    color: black !important;
}

.font-sixe-set-head {
    font-size: 50px;
}

.font-sixe-set-para {
    font-size: 18px;
}

.auton-heading {
    letter-spacing: 0.35em;
    color: inherit !important;
    line-height: normal;
    font-size: 30px;
    font-weight: 500;
}

.futuree {
    position: relative;
    top: -750px;
}

.bg-img-sec-1 {
    /* background-image: url('../images/sec-1.jpg'); */
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.mrgin-botm {
    /* margin-bottom: 28rem; */
}

.container- {

    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-tt-1 {
    display: none;
    margin-left: auto;

}

.color_11 {
    color: rgb(255, 255, 255);
}

.color_111 {
    color: black;
}

.bg-black {
    background-color: black;
}

.vidon {
    font-size: 15px;
    margin-bottom: 2rem;
    font-weight: 100;
    margin-left: 3rem;
}

.vidonnn {
    font-size: 15px;
    margin-bottom: 2rem;
    font-weight: 100;
    /* margin-left: 3rem; */
}

.vidonn-1 {
    padding-left: 1rem;
    font-size: 15px;
    margin-bottom: 2rem;
    font-weight: 100;
    /* margin-left: 1rem; */
}

.vidon-1 {
    font-size: 15px;
    margin-bottom: 2rem;
    font-weight: 100;
}

.main-sec h3 {
    letter-spacing: 0.08em;
    margin-top: 1rem;
    margin-bottom: 3rem;
    line-height: 2.5rem;
    padding-left: 3rem;
    border-left: 3px solid white !important;
}

.main-sec-1 h3 {
    letter-spacing: 0.08em;
    margin-top: 1rem;
    margin-bottom: 3rem;
    line-height: 2.5rem;
    padding-left: 1rem;
    border-left: 3px solid white !important;
}

.main-sec-1 h2 {
    padding-left: 1rem;
    border-left: 3px solid white !important;
}

.main-sec-1 p {
    padding-left: 1rem;
    border-left: 3px solid white !important;
}

.main-sec .color_111 {
    line-height: 1.8em;
    font-size: 24px;
    font-weight: 400;
    border-left: 3px solid white !important;

}

.main-sec p {
    font-size: 19px;
    margin-left: 3rem;
}

.main-secc p {
    font-size: 19px;
    /* margin-left: 1rem; */
}

.main-sec {

    border-left: 1px solid #434343;
}

.main-sec-2 {

    border-left: 1px solid grey !important;
}

.main-secc {
    margin-left: 2rem;
}

.backk-none {
    background: none;
    color: black;
}

.backk-none-1 {
    background: none;
    color: white;
}

.bg-img-45 {
    background-image: url(../assets/images/mechine.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.img-set-noe {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: 50% 50%;
}

.positon-left-side {
    position: relative;
    left: -77px;
}

.positon-right-side {
    position: relative;
    right: -76px;
}


li {
    list-style: none !important;
}


ul li {
    margin-bottom: 1.5rem;
}

ul {
    padding-left: 0 !important;
}

ul li a {
    color: #565555 !important;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100px; */
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    z-index: 999;
}

.navbar-color {
    background-color: white;
    width: 100%;
}












@media(max-width: 992px) {
    .btn-tt {
        display: none;
    }

    .btn-tt-1 {
        display: block;
        margin-left: auto;
        margin-right: 1rem;
    }
    .auton-heading {
        letter-spacing: 0.20em;
        color: inherit !important;
        line-height: normal;
        font-size: 15px;
        font-weight: 500;
    }
}

@media(max-width: 430px) {
    /* .bg-whiteings {
        background-color: white;
    } */

    .font-sixe-set-head {
        font-size: 10px;
    }

    .font-sixe-set-para {
        font-size: 6px;
        font-weight: 500 !important;
    }

    .mrgin-botm {
        margin-bottom: 28rem;
    }
    .centered {
        position: absolute;
        top: 11%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media(max-width: 640px) {

    .positon-right-side {
        position: relative;
        right: -62px;
    }
}

@media(max-width: 633px) {

    .positon-right-side {
        text-align: center;
        position: inherit;
    }

    .positon-left-side {
        text-align: center;
        position: inherit;
    }
}