.main {
    /* Background */
    background: linear-gradient(
    to bottom,
    rgb(219, 242, 253),
    rgba(210, 240, 255, 1)
  );
    padding: 20px;
    border-radius: 5px;
    
    /* Box Shadow */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    /* Text */
    color: #333;
    font-size: 16px;
    line-height: 1.4;
  }

  h1 {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 10px;
}

.custom-hr {
    border: none;
    height: 2px;
    background-color: black;
  }

  ul {
    list-style-type: disc;
  }
 
  .container {
    
    margin: 0 auto;
    padding: 20px;
  }

  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 10px;
  }

  .contact-info {
    margin-bottom: 30px;
  }

  .contact-info a {
    color: #333;
    text-decoration: none;
  }

  .cont {
    margin-bottom: 30px;
    }

    .point {
        content: "\27A2";
        font-size: 20px;
    }
    @media(max-width: 430px) {

      .main {
        padding: 0px;
      }
      h1{
        font-size:25px;
      }
    }