.excellence {
    display: flex;
    position: relative;
    padding: 10vh;
    height: 70vh;
    align-items: center;
}

.excellence-inner-wrapper {
    /* background-image: url('assets/images/about/about-bg-one.png'); */
    background-color: #9F9F9F;
    display: flex;
    justify-content: end;
    background-size: cover;
    height: 100%;
}

.excellence1-inner-wrapper {
    background-image: url('assets/images/about/about_us.jpg');
    display: flex;
    justify-content: end;
    background-size: cover;
    height: 100%;
}

.excellence-right {
    margin: 60px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.excellence-right h2 {
    margin-bottom: 30px;
}

.main-heading {
    margin-bottom: 30px;
}

.main-text-box {
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.main-image{
    padding: 30px;
	background-image: url('assets/images/about/about_us.jpg');
    background-repeat: no-repeat;
    background-size: 100% ;
	width: 1300px;
	height: 500px;
	margin-left: 10px;
}

.about-half-box {
    width: 60%; 
    background: #fff;
    height: 250px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 52px;
    text-align: center;
    position: relative;
}

.about-left-half-box {
    margin-left: auto;
    margin-right: 45px;
}

.about-right-half-box {
    margin-right: auto;
    margin-left: 45px;
}


.about-full-height-area {
    padding: 10vh;
    justify-content: center;
    position: relative;
}

svg#mission,  span.box-top-logo{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -35px;
    display: block;
    left: 55px;
}

svg#Vission {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -15px;
    display: block;
    left: 50px;
}

.grey-text {
    color: #9F9F9F;
}

/* CONTACTus css */
img#contact-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-main-banner-wrapper {
    display: flex;
    position: relative;
    height: 70vh;
    justify-content: flex-end;
}

.contact-banner-text-wrapper {
    position: relative;
    width: 30%;
    height: 100%;
}

/*small mobile-view*/
@media screen and (max-width: 375px) {
    #vision-card {
        height: 200px !important;
    }

    .about-half-box {
        height: 300px !important;
    }
}

/*mobile-view*/
@media screen and (max-width: 767px) {
    img#contact-banner, .contact-main-banner-wrapper {
        height: 200px;
    }

    .about-full-height-area {
        padding: 0;
        padding-top: 80px;
        margin-bottom: 75px;
    }

    #vision-card {
        height: 200px;
    }

    .about-half-box {
        height: 250px;
    }

    .excellence {
        padding: 0px;
    }

    .full-height-section {
        height: 100%;
    }

    .about-half-box {
        width: 80%;
        margin-top: 60px;
    }

    .about-left-half-box, .about-right-half-box {
        margin-left: 10%;
        margin-right: 10%;
    }

    img.half-img.about-main-img {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1.main-title {
        margin-bottom: 30px;
    }

    .excellence-right {
        margin: 30px 15px;
    }
}

/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
    .about-full-height-area {
        padding: 15px;
        margin-top: 85px;
    }

    .yr-row.end-row {
        font-size: 1.5rem;
    }

    .vision-text-wrapper {
        margin-top: 15PX;
    }
    
    .excellence {
        height: 800px;
    }

    h1.main-title, .main-p, img.half-img.about-main-img, .excellence-right, .vision-text-wrapper {
        transform: unset !important;
    }

    .about-right-half-box {
        margin-left: 0;
        margin-right: 0;
    }

    .about-half-box {
        width: 100%;
    }
}

/*small laptop*/
@media (min-width: 992px) and (max-width: 1200px) {
    .about-half-box {
        width: 100%;
    }
}

/*large screen*/
@media screen and (min-width: 1400px) {
   
}